# interfaces(5) file used by ifup(8) and ifdown(8)
# Include files from /etc/network/interfaces.d:
#source-directory /etc/network/interfaces.d
  
auto eth0
iface eth0 inet static
  address {{ eth0_ip }}
  netmask 255.255.255.0

auto lo:5
iface lo:5 inet static
  address {{ loopback_ip }} 
  netmask 255.255.255.255

dns-nameservers 192.168.253.130 8.8.8.8
